<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AppSettings>
    <add key="EndPointUri" value="https://websites-db.documents.azure.com:443/" />
    <add key="PrimaryKey" value="1VUfzlaaNXYcxA7PcEGTOejrHOrF0Nf3Kcbp3oMeCGUnTEyZKguz6CBzgzpxxzG0xPQtVY0fOM6u4SksQ7n6Mg==" />
  </AppSettings>
</configuration>